/*To Do Next Time:add responsiveness for portrait (board looks too small in portrait mode)*/

/*gameboard background/blue area*/
.gameBoard {
  margin: auto;
  height: 30vw;
  width: 35vw;
  border-radius: 1vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #2054ff;
  border: 1vw solid;
  border-color: #2054ff;
}

/*individual spaces within board*/
.space {
  border-radius: 50%;
  background-color: #ffffff;
  height: 4.6vw;
  width: 4.6vw;
  margin: auto;
}

h1{
    text-align: center;
  font-size: 4vw;
}


/*classes for changing space color based on current player*/
.p1 {
    background-color: #ff0000;
}

.p2 {
    background-color: #ffd000;
}

#colorChange {
text-align: center;
 float: right;
}

S