@import url('https://fonts.googleapis.com/css2?family=Denk+One&family=Rubik&display=swap');

/*gameboard background/blue area*/

.gameBoard {
  margin: auto;
  height: 30vw;
  width: 35vw;
  border-radius: 1vw;
  display: flex;
  flex-wrap: wrap;
  background-color: #2054ff;
  border: 1vw solid;
  border-color: #2054ff;
}

/*individual spaces within board*/

.space {
  border-radius: 50%;
  background-color: #ffffff;
  height: 4.6vw;
  width: 4.6vw;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 4.5vw;
  font-family: 'Denk One', sans-serif;
  margin-bottom: 1vw;
}

/*classes for changing space color based on current player*/

.p1 {
  background-color: #ff0000;
}

.p2 {
  background-color: #ffd000;
}

button {
  margin-bottom: 1vw;
  width: 8vw;
  margin-right: .5vw;
  padding: .5vw;
}

#sieaety {
  background-color: #12104f;
  color: #fff;
  border: none;
  border-radius: 2px;
  position: absolute;
  right: 21.5vw;
  top: 16vw;
}

#original {
  background-color: #2054ff;
  color: #fff;
  border: none;
  border-radius: 2px;
  position: absolute;
  right: 21.5vw;
  top: 10vw;
}

#wsu {
  background-color: #981e32;
  color: #fff;
  border: none;
  border-radius: 2px;
  position: absolute;
  right: 21.5vw;
  top: 13vw;
}

#sieaety:hover {
  background-color: #3632a6;
}

#original:hover {
  background-color: #5e83ff;
}

#wsu:hover {
  background-color: #d12a45;
}

#reset button:hover {
  background-color: #636363;
}

#reset {
  position: absolute;
  right: 31.5vw;
  top: 42.5vw;
  width: 37vw;
}

#reset button {
  float: right;
  margin-right: 0;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
}

p {
  float: left;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 1.25vw;
}

@media only screen and (max-width: 1242px) {
  .gameBoard {
    height: 50vw;
    width: 55vw;
  }
  /*individual spaces within board*/
  .space {
    height: 7.11vw;
    width: 7.11vw;
  }
  h1 {
    font-size: 8vw;
    margin-bottom: 1vw;
  }
  button {
    width: 15vw;
  }
  p {
    font-size: 2vw;
  }
  #reset {
    position: absolute;
    right: 21.5vw;
    top: 70vw;
    width: 57vw;
  }
  #sieaety {
    position: absolute;
    right: 5vw;
    top: 25vw;
  }
  #original {
    position: absolute;
    right: 5vw;
    top: 17vw;
  }
  #wsu {
    position: absolute;
    right: 5vw;
    top: 21vw;
  }
  @media only screen and (max-width: 768px) {
    .gameBoard {
      height: 60vw;
      width: 65vw;
    }
    /*individual spaces within board*/
    .space {
      height: 8.53vw;
      width: 8.53vw;
    }
    button {
      width: 20vw;
    }
    p {
      font-size: 3vw;
    }
    #reset {
      position: absolute;
      right: 17vw;
      top: 80vw;
      width: 67vw;
    }
    #sieaety {
      position: absolute;
      left: 63vw;
      top: 85vw;
    }
    #original {
      position: absolute;
      left: 16vw;
      top: 85vw;
    }
    #wsu {
      position: absolute;
      left: 40vw;
      top: 85vw;
    }
    @media only screen and (max-width: 460px) {
      .gameBoard {
        height: 80vw;
        width: 85vw;
      }
      /*individual spaces within board*/
      .space {
        height: 11.15vw;
        width: 11.15vw;
      }
      button {
        width: 28.5vw;
      }
      p {
        font-size: 4vw;
      }
      h1 {
        font-size: 15vw;
        margin-bottom: 5vw;
      }
      #reset {
        position: absolute;
        right: 6.5vw;
        top: 120vw;
        width: 87vw;
      }
      #sieaety {
        position: absolute;
        left: 64.5vw;
        top: 130vw;
      }
      #original {
        position: absolute;
        left: 6vw;
        top: 130vw;
      }
      #wsu {
        position: absolute;
        left: 35.25vw;
        top: 130vw;
      }
      @media only screen and (max-width: 332px) {
        #sieaety {
          position: absolute;
          left: 6vw;
          top: 150vw;
        }
        #original {
          position: absolute;
          left: 6vw;
          top: 130vw;
        }
        #wsu {
          position: absolute;
          left: 6vw;
          top: 140vw;
        }
      }