/* Basic board is built
To Do Next Time: center heading and game board, improve look of board (spaces too close to edge), add classes for player 1(red) and player 2(yellow), make gameboard size responsive?*/

.gameBoard {
    height: 480px;
    width: 560px;
    border-radius: 1vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #2054ff;
}

.space {
    border-radius: 50%;
    background-color: #ffffff;
    height: 72px;
    width: 72px;
    margin: auto;  
}